<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
  
    <!-- Image Logo -->
    <a class="navbar-brand logo-image" routerLink="/home"><img src="assets/images/logo.jpg" alt="alternative"></a> 
    
    <!-- Mobile Menu Toggle Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fa fa-bars"></span>
        <span class="navbar-toggler-awesome fa fa-times"></span>
    </button>

    <!-- end of mobile menu toggle button -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#preview">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#header">DOWNLOAD APP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page-scroll" href="#contact">CONTACT</a>
            </li>
        </ul>
        
    </div>
</nav> <!-- end of navbar -->
<!-- end of navigation -->