<section class="all-videos">
    <div class="vb vb-1">
        <img src="assets/images/bg/block-1.png" alt="" />
      </div>
      <div class="vb vb-2">
        <img src="assets/images/bg/block-2.png" alt="" />
      </div>
      <div class="vb vb-3">
        <img src="assets/images/bg/block-3.png" alt="" />
      </div>
      <div class="vb vb-4">
        <img src="assets/images/bg/block-2.png" alt="" />
      </div>
    <div class="container">
        <div class="text-center">
            <h1 class="heading heading-red">
                Videos From Vaartaalaap
            </h1>
        </div>
       
    </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a class="popup-youtube"
                    href="https://www.youtube.com/watch?v=Mn53A8ryXWU">
                        <div class="video-card">
                            <div class="video-img">
                                <div class="video-overlay">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                                <img src="https://images.pexels.com/photos/3756659/pexels-photo-3756659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <div class="video-caption">
                                <h5 class="video-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, culpa?
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a class="popup-youtube"
                    href="https://www.youtube.com/watch?v=Mn53A8ryXWU">
                        <div class="video-card">
                            <div class="video-img">
                                <div class="video-overlay">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                                <img src="https://images.pexels.com/photos/3756659/pexels-photo-3756659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <div class="video-caption">
                                <h5 class="video-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, culpa?
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a class="popup-youtube"
                    href="https://www.youtube.com/watch?v=Mn53A8ryXWU">
                        <div class="video-card">
                            <div class="video-img">
                                <div class="video-overlay">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                                <img src="https://images.pexels.com/photos/3756659/pexels-photo-3756659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <div class="video-caption">
                                <h5 class="video-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, culpa?
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a class="popup-youtube"
                    href="https://www.youtube.com/watch?v=Mn53A8ryXWU">
                        <div class="video-card">
                            <div class="video-img">
                                <div class="video-overlay">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                                <img src="https://images.pexels.com/photos/3756659/pexels-photo-3756659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <div class="video-caption">
                                <h5 class="video-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, culpa?
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a class="popup-youtube"
                    href="https://www.youtube.com/watch?v=Mn53A8ryXWU">
                        <div class="video-card">
                            <div class="video-img">
                                <div class="video-overlay">
                                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                                </div>
                                <img src="https://images.pexels.com/photos/3756659/pexels-photo-3756659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
                            </div>
                            <div class="video-caption">
                                <h5 class="video-text">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, culpa?
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
           
        </div>
   
</section>