
    <!-- Header -->
    <header id="header " class="ex-header">
        <div class="vb vb-1">
            <img src="assets/images/bg/block-1.png" alt="" />
          </div>
          <div class="vb vb-2">
            <img src="assets/images/bg/block-2.png" alt="" />
          </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center"><h1 class="heading heading-red">Terms and Conditions</h1></div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                        <h3>Consumer data</h3>
                      <p>                
These Terms of Use govern your use of the websites, content and community services offered through <a href="http://www.vaartaalaap.com" target="_blank">http://www.vaartaalaap.com</a> ("Site") any mobile or internet connected device or otherwise ("the Service").
                      </p>
                      <p>
                        These terms of use (Terms) constitute a legally binding agreement between you and Vaartaalaap regarding your use of the web site i.e. www.vaartaalaap.com (the Site) and any services offered by the company including but not limited to delivery of content via the Site, any mobile or internet connected device or otherwise (the "the Service"). By accessing the site, you agree to be bound by these Terms. You hereby represent and warrant to the Company that you are at least eighteen (18) years of age or above and are capable of entering, performing and adhering to these Terms and that you agree to be bound by the following terms and conditions. While individuals under the age of 18 may utilize the Service of the site, they shall do so only with the involvement & guidance of their parents and / or legal guardians, under such Parent /Legal guardian's discretion if needed. 
                      </p>
                      <p>
                        Definition of "User" or "You": means any person who accesses or avails the Vaartaalaap site. 
                        Vaartaalaap may add to or change or update these Terms of Use, from time to time entirely at its own discretion. You are responsible for checking these Terms of Use periodically to remain in compliance with these terms. Your use of a Site after any amendment to the Terms of Use shall constitute your acceptance of these terms and you also agree to be bound by any such changes/revisions.
                      </p>
                    </div> <!-- end of text-container -->

                    <div class="text-container">
                        <h3>Changes</h3>
                       <p>
                        Vaartaalaap reserves the right to suspend / cancel, or discontinue any or all channels, products or service at any time without notice, make modifications and alterations in any or all of the content, products and services contained on the site without prior notice. Such changes will be posted to <a href="http://www.vaartaalaap.com"></a> http://www.vaartaalaap.com for your reference and convenience so as to enable you to understand your responsibility as a user.
                       </p>
                    </div> <!-- end of text container -->

                  
                                       
                    <div class="text-container">
                        <h3>Copyright and Trademarks</h3>
                       <p>
                        Unless otherwise stated, copyright and all intellectual property rights in all material presented on the site (including but not limited to text, audio, video or graphical images), trademarks and logos appearing on this site are the property of Vaartaalaap and are protected under applicable Indian laws. Any infringement shall be vigorously defended and pursued to the fullest extent permitted by law.
                        Requests to republish Vaartaalaap’s content for distribution should be addressed to E-Mail - 
                        <a class="blue" href="mailto:support@vaartaalaap.com">aman@vaartaalaap.com.</a>
                       </p>
                       
                    </div> <!-- end of text container -->

                    <div class="text-container">
                        <h3>No unlawful or prohibited use</h3>
                       <p>
                        As a condition of your use of the Services, you will not use the Services for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Services in any manner that could damage, disable, overburden, or impair any of Vaartaalaap’s hosting servers or the network(s) connected to any Vaartaalaap’s server, or interfere with any other party's use and enjoyment of any Services. You may not attempt to gain unauthorized access to any Services, other accounts, computer systems or to any of the Services, through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the Services.
                     </p>
                       
                    </div> <!-- end of text container -->
                    <div class="text-container">
                        <h3>Material Posted/transmitted at TIL's Site</h3>
                       <p>
                        Vaartaalaap accepts no responsibility for the Content / Images / text / messages shared by consumers on the website. However, you understand that all Content / Images posted by you becomes the property of Vaartaalaap and you agree to grant/assign to Vaartaalaap and its affiliates, a non-exclusive, royalty free, perpetual, irrevocable and sub-licensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such Content / Images (in whole or part) worldwide and/or to incorporate it in other works in any form, media, or technology now known or later developed throughout the world.
                     </p>
                       
                    </div> <!-- end of text container -->

                    <div class="text-container">
                        <h3>Prohibited Activities</h3>
                        <p class="mb-5">You shall not host, display, upload, modify, publish, transmit, update or share any information on the Site, that —</p>
                        
                        <ol>
                            <li>
                                <p>
                                    Belongs to another person and to which you do not have any right to;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Harm minors in any way;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Infringes any patent, trademark, copyright or other proprietary rights;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Violates any law for the time being in force;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Deceives or misleads the addressee about the origin of such messages or communicates any information which is grossly offensive or menacing in nature;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Impersonate another person
                                </p>
                            </li>
                            <li>
                                <p>
                                    Contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer resource;
                                </p>
                            </li>
                            <li>
                                <p>
                                    Threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting any other nation.
                                </p>
                            </li>
                        </ol>

                        <p>
                            Any Content uploaded by you shall be subject to relevant laws and may disabled, or and may be subject to investigation under appropriate laws. Furthermore, if you are found to be in non-compliance with the laws and regulations, these terms, or the privacy policy of the Site, we may terminate your access to the Site and we reserve the right to remove any non-compliant Content uploaded by you.
                        </p>

                        <p>
                            Any Content and or comment uploaded by you, shall be subject to relevant Indian laws and may be disabled, or and may be subject to investigation under appropriate laws. Furthermore, if you are found to be in non-compliance with the laws and regulations, these terms, or the privacy policy of the Site, Vaartaalaap shall have the right to immediately terminate/block your access and usage of the Site and Vaartaalaap shall have the right to immediately remove any non-compliant Content and or comment, uploaded by you and shall further have the right to take recourse to such remedies as would be available to Vaartaalaap under the applicable laws.
                        </p>

                    </div> <!-- end of text-container -->
                    <div class="text-container contact">
                        <h3>Contact & Redressal</h3>
                       <p>
                        If you have any questions regarding privacy while using the website, or have questions about our practices, please contact us via email at support@vaartaalaap.com
                     </p>
                       
                    </div> <!-- end of text container -->
                    <a class="btn-outline-reg back" routerLink="/home">BACK</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <div class="vb vb-3">
            <img src="assets/images/bg/block-3.png" alt="" />
          </div>
          <div class="vb vb-4">
            <img src="assets/images/bg/block-2.png" alt="" />
          </div>
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->
