<!-- Video -->
<div id="preview" class="basic-1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h2 class="intro-heading">
          <span class="blue">Vaar</span>
          <span class="red">taa</span>
          <span class="teal">laap</span>
          
        </h2>
        <div class="p-heading p-large">
         A platform for honest conversations.
        </div>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row align-items-center -->
    <div class="row align-items-center">
      <div class="col-lg-12">
        <div class="video-wrap">
          <div class="vb vb-1">
            <img src="assets/images/bg/block-1.png" alt="">
          </div>
          <div class="vb vb-2">
            <img src="assets/images/bg/block-2.png" alt="">
          </div>
          <div class="vb vb-3">
            <img src="assets/images/bg/block-3.png" alt="">
          </div>
          <div class="vb vb-4">
            <img src="assets/images/bg/block-2.png" alt="">
          </div>
  <!-- Video Preview -->
  <owl-carousel
  [options]="carouselOptions"
  [carouselClasses]="['owl-theme', 'row align-items-center', 'sliding']"
>
  <div class="item">
    <div class="image-container">
      <div class="video-wrapper">
        <a
          class="popup-youtube"
          href="https://www.youtube.com/watch?v=fLCjQJCekTs"
          data-effect="fadeIn"
          target="_blank"
        >
          <img
            class="img-fluid"
            src="assets/images/video-frame.jpg"
            alt="alternative"
          />
          <span class="video-play-button">
            <span></span>
          </span>
        </a>
      </div>
      <!-- end of video-wrapper -->
    </div>
    <!-- end of image-container -->
  </div>
  <div class="item">
    <div class="image-container">
      <div class="video-wrapper">
        <a
          class="popup-youtube"
          href="https://www.youtube.com/watch?v=fLCjQJCekTs"
          data-effect="fadeIn"
          target="_blank"
        >
          <img
            class="img-fluid"
            src="assets/images/video-frame.jpg"
            alt="alternative"
          />
          <span class="video-play-button">
            <span></span>
          </span>
        </a>
      </div>
      <!-- end of video-wrapper -->
    </div>
    <!-- end of image-container -->
  </div>
  <div class="item">
    <div class="image-container">
      <div class="video-wrapper">
        <a
          class="popup-youtube"
          href="https://www.youtube.com/watch?v=fLCjQJCekTs"
          data-effect="fadeIn"
          target="_blank"
        >
          <img
            class="img-fluid"
            src="assets/images/video-frame.jpg"
            alt="alternative"
          />
          <span class="video-play-button">
            <span></span>
          </span>
        </a>
      </div>
      <!-- end of video-wrapper -->
    </div>
    <!-- end of image-container -->
  </div>
</owl-carousel>

<!-- end of video preview -->
        </div>

        <div class="text-center see-btn">
          <a class="btn-solid-lg page-scroll" href="#your-link">See all videos</a>
         
        </div>
      
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row align-items-center -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of video -->

<!-- Header -->
<header id="header" class="header">
  <div class="shape shape-1">
    <img src="assets/images/bg/block-5.png" alt="">
  </div>
  <div class="shape shape-2">
    <img src="assets/images/bg/block-5.png" alt="">
  </div>
  <div class="header-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="text-container">
            <div> <h1 class="heading">Download App</h1></div>
           
            <p class="p-large">
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit, architecto. Modi voluptates aliquam corrupti assumenda. Fuga exercitationem recusandae qui vel.
              <div>
                <a class="btn-solid-lg page-scroll" href="#your-link">APP STORE</a>
                <a class="btn-solid-lg page-scroll" href="#your-link">PLAY STORE</a>
              </div>

            
          </div>
        </div>
        <!-- end of col -->
        <div class="col-lg-6">
          <div class="image-container">
            <img
              class="img-fluid"
              src="assets/images/header-iphone.png"
              alt="alternative"
            />
          </div>
          <!-- end of image-container -->
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row align-items-center -->
    </div>
    <!-- end of container -->
  </div>
  <!-- end of header-content -->
</header>
<!-- end of header -->
<!-- end of header -->

<!-- Details 1 -->
<!-- Details 2 -->
<div class="">
    <div class="second" id="about">
     
    
      <div class="shape shape-semicircle-dotted">
        <img src="assets/images/bg/shape-1.png" alt="">
      </div>
      <div class="container">
        
        <div class="row justify-content-center">
          <!-- <div class="col-lg-6">
            <img
              class="img-fluid"
              src="assets/images/about.png"
              alt="alternative"
            />
          </div> -->
          <!-- end of col -->
  
          <div class="col-lg-4">
           
              <div class="text-center"> <h1 class="heading u-blue">About Us</h1></div>
         
              <p class="p-large">
                The world of conversation oscillates through problems of bias, length, medium and so on. As a founder of Vaartaalaap, I have been a viewer of news, debates, interviews in various forms on digital and non-digital channels. Where conversations have meandered aimlessly at times as well as been unable to promote the voice of a common consumer.
                
                
              </p>
             
            
           
              <p class="p-large">
                Vaartaalaap is an Indian startup, creating digital conversational content for global audiences. As well as encouraging consumers to generate their own conversational content.  Creating voice for common people.
               
              </p>
           
              <p class="p-large">
                With a growth of over 15% (Compound Annual Growth Rate) in conversational content. Vaartaalaap is making a beginning as well.
              </p>
           
              <!-- <a
                class="btn-solid-reg popup-with-move-anim"
                href="#details-lightbox-2"
                >LIGHTBOX</a
              > -->
           
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-4">
            <div class="text-center"> <h1 class="heading">Vision</h1></div>
            <p class="p-large">
              Vaartaalaap wishes to be the voice of common people through its digital presence. Where subscribers and listeners get enthused with honest conversations; related to topics in vogue or of common good in an unbiased way. 
            <br>
              Consumers get to search, create their own as well as promote their own creativity through user generated content. The platform would also enrich and provide a compelling customer experience for all stakeholders. As part of its global consciousness, the platform will promote humane values towards all, whilst promoting empowerment and climate goals of communities globally in next 10 years.
            </p>
            </div>
            <div class="col-lg-4">
              <div class="text-center"> <h1 class="heading">Mission</h1></div>
            
              <p class="p-large">
                Vaartaalaap’s mission is to provide a platform for earnest interactions with commoners and celebrities in the form of interviews, debates and discussions. Along with promoting common people to interview others in short focused videos about topics in vogue.
              </p>
            </div>

        </div>
        <div class="row justify-content-end">
          <div class="col-lg-6 ">
            <img src="assets/images/about-img.png" alt="" class="about-img">
          </div>
        </div>
        </div>
        <!-- end of row align-items-center -->
      </div>
      <!-- end of container -->
   

  <!-- <div class="second vision-section" id="vision">
    <div class="shape shape-semicircle-top">
      <img src="assets/images/bg/shape-4.png" alt="">
    </div>
    <div class="shape shape-box-dotted">
      <img src="assets/images/bg/shape-2.png" alt="">
    </div>
    
    <div class="container-fluid">
      <div class="row  justify-content-center">
        <div class="col-lg-2">
            <div class="text-center"> <h1 class="heading">Vision</h1></div>
        </div>
        <div class="col-lg-4">
            <p class="p-large">
              Vaartaalaap wishes to be the voice of common people through its digital presence. Where subscribers and listeners get enthused with honest conversations; related to topics in vogue or of common good in an unbiased way. 
            <br>
              Consumers get to search, create their own as well as promote their own creativity through user generated content. The platform would also enrich and provide a compelling customer experience for all stakeholders. As part of its global consciousness, the platform will promote humane values towards all, whilst promoting empowerment and climate goals of communities globally in next 10 years.
            </p>
        </div>
        <div class="col-lg-2">
          <div class="text-center"> <h1 class="heading">Mission</h1></div>
        </div>
        <div class="col-lg-4">
          <p class="p-large">
            Vaartaalaap’s mission is to provide a platform for earnest interactions with commoners and celebrities in the form of interviews, debates and discussions. Along with promoting common people to interview others in short focused videos about topics in vogue.
          </p>
        </div>
      </div>
     
        </div>
      </div>
   -->


  <!-- <div class="second mission-section" id="mission">
    <div class="shape shape-box">
      <img src="assets/images/bg/shape-3.png" alt="">
    </div>
    <div class="container">
      <div class="row align-items-center justify-content-center">
      

        <div class="col-lg-8">
        
            <div> <h1 class="heading u-blue">Mission</h1></div>
            <p class="p-large">
              Vaartaalaap’s mission is to provide a platform for earnest interactions with commoners and celebrities in the form of interviews, debates and discussions. Along with promoting common people to interview others in short focused videos about topics in vogue.
            </p>
           
         
        </div>
       
      </div>
  
    </div>
   
  </div> -->

  <div class="second founder-section" id="founder">
    <div class="shape shape-semicircle-top">
      <img src="assets/images/bg/shape-4.png" alt="">
    </div>
    <div class="shape shape-box-dotted">
      <img src="assets/images/bg/shape-2.png" alt="">
    </div>
    <div class="container">
      <div class="text-center"> <h1 class="heading u-blue">Founder</h1></div>
      <div class="row founder-details align-items-center justify-content-center">
        <div class="col-lg-6">
         
           <ul>
             <li>
              <p class="p-large">
                Founder, Vaartaalaap, a people’s communication platform
                </p>
             </li>
             <li>
              <p class="p-large">
                CEO, Foodibase - the first global network for food aficionados
                </p>
             </li>
             <li>
              <p class="p-large">
                MBA from Purdue Krannert School of Management, USA
                </p>
             </li>
             <li>
              <p class="p-large">
                14+ years of work experience in the global software industry with global conglomerates like IBM, Ford, Adidas, Siemens etc.
                </p>
             </li>
             <li>
              <p class="p-large">
                Worked internationally in global locations for several years wearing multiple hats while leading international teams
                </p>
             </li>
           </ul>
         
        
          <!-- end of text-container -->
        </div>
        <!-- end of col -->
        <div class="col-lg-6 text-center">
          <div class="founder-img-wrap">
            <div class="ib ib-1">
              <img src="assets/images/bg/block-2.png" alt="">
            </div>
            <div class="ib ib-2">
              <img src="assets/images/bg/block-2.png" alt="">
            </div>
            <div class="shape line-1">
              <img src="assets/images/bg/shape-5.png" alt="">
            </div>
            <div class="shape line-2">
              <img src="assets/images/bg/shape-5.png" alt="">
            </div>
          <img
            class="img-fluid founder-img"
            src="assets/images/founder.png"
            alt="alternative"
            
          /></div>
        </div>
        <!-- end of col -->
      </div>
      <!-- end of row align-items-center -->
    </div>
    <!-- end of container -->
  </div>
 
</div>


<!-- Contact -->
<div id="contact" class="form">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <h2 class="contact-head">CONTACT</h2>
        <ul class="list-unstyled li-space-lg">
          <li class="address">
            Don't hesitate to give us a call or just use the contact form below
          </li>
          <!-- <li>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
             22 Innovative, San Francisco,
            CA 94043, US
          </li> -->
          <li>
            <i class="fa fa-phone" aria-hidden="true"></i>
            <a class="blue" href="tel:003024630820"> +91-8954693618</a>
          </li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
<a class="blue" href="mailto:support@vaartaalaap.com">support@vaartaalaap.com</a>
          </li>
        </ul>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row align-items-center -->
    <div class="row align-items-center">
      <div class="col-lg-6 offset-lg-3">
        <!-- Contact Form -->
        <form id="contactForm" data-toggle="validator" data-focus="false">
          <div class="form-group">
            <input type="text" class="form-control-input" id="cname" required />
            <label class="label-control" for="cname">Name</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-control-input"
              id="cemail"
              required
            />
            <label class="label-control" for="cemail">Email</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control-textarea"
              id="cmessage"
              required
            ></textarea>
            <label class="label-control" for="cmessage">Your message</label>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group checkbox">
            <input
              type="checkbox"
              id="cterms"
              value="Agreed-to-Terms"
              required
            />I have read and agree to Leno's stated conditions in
            <a href="privacy-policy.html">Privacy Policy</a> and
            <a href="terms-conditions.html">Terms Conditions</a>
            <div class="help-block with-errors"></div>
          </div>
          <div class="form-group">
            <button type="submit" class="form-control-submit-button">
              SUBMIT MESSAGE
            </button>
          </div>
          <div class="form-message">
            <div id="cmsgSubmit" class="h3 text-center hidden"></div>
          </div>
        </form>
        <!-- end of contact form -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row align-items-center -->
  </div>
  <!-- end of container -->
</div>
<!-- end of form -->
<!-- end of contact -->
