.intro-heading{
    font-size: 8rem;
    font-weight: 500;
    margin-bottom: 4rem;
    color: #101010;
    /* text-transform: uppercase; */
    letter-spacing: -0.4rem;
}


.heading{
    font-size: 3rem;
    font-weight: 800;
    color:#101010;
    letter-spacing: -0.1rem;
    position : relative;
    display: inline-block;
    
}


.heading::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0.5rem;
    height: 1.2rem;
    z-index: -1;
    width: 100%;
    opacity: 0.4;
    background-color: #ffbdb4;
}
.about-img{
    max-width: 600px;
}
.vision-section{
    background-color: #b0ccff2f;
   
}
.mission-section{
    background-color: #ffbdb44b;
}
.founder-details{
   margin-top: 4rem;
    text-align: left;
    ul{
        list-style: square;
    color: #000;
    font-size: 1rem;
    }

   
}
.founder-img-wrap{
    position: relative;
}
.founder-img{
    max-width: 400px;
    width: 80%;
    box-shadow: 0px 5px 20px 8px #00000026;
    margin-left: auto;
    border-radius: 10px;
    z-index: 3;
    position: relative;
}
.second{
    position: relative;
    padding: 6rem 0 2rem;
}
.see-btn{
    a{
        font-size:1.2rem;
        margin: 2rem 0;
    }
}
.u-blue::after{
    background-color: #b0cbff;
}

.video-wrap{
    position: relative;
}

.vb{
    position: absolute;
    img{
        width: 200px;
    }
}
.ib{
    position: absolute;
    img{
        width: 100px;
    }
}
.ib-1{
    top: 0px;
    left: 0px;
}
.ib-2{
    bottom: 0px;
    right: 0px;
}
.vb-1{
    top: 0;
    left: 0;
}
.vb-2{
    top: 0;
    right: -70px;
    img{
        width: 250px;
    }
}

.vb-3{
    bottom: -100px;
    right: 0px;
    img{
        width: 250px;
    }
}

.vb-4{
    bottom: -100px;
    left: 0px;
   
}
.header{
    position: relative;
}
.shape{
    position: absolute;
    img{
        width: 300px;
    }
}
.shape-1{
    top: 18%;
    left:5%;
}

.shape-2{
    bottom: 0%;
    right:2%;
}
.shape-semicircle-top{
    top: -150px;
    right: 0;

    img{
        height: 300px;
        width: auto;
        opacity: 0.9;
    }
}
.shape-semicircle-dotted{
    top: -7%;
    left: -1%;
    img{
        height: 300px;
        width: auto;
        opacity: 0.6;
    }
}
.shape-box-dotted{
    bottom: -90px;
    left: 0%;
    img{
        height: 180px;
        width: auto;
    }
}
.line-1{
    bottom: 0;
    left: 0;
    img
    {
        width: 100px;
    }
}

.line-2{
    top: 0;
    right: 0;
    img
    {
        width: 100px;
    }
}

.shape-box{
    bottom: -100px;
    right: 2%;
    transform: rotate(-90deg);
    img{
        height: 200px;
        width: auto;
    }
}