h3{
   color: rgb(83, 94, 192);
   letter-spacing: -0.06rem;
}

p{
    font-size: 1rem;
    font-weight: 500;
    color: #101010;
}

a{
    color: #101010;
    font: 600 italic;
}

ol{
    color: #101010;
    font-weight: 500;
    font-size: 1.1rem;
}

.contact{
    h3{
        text-align: center;
        color: #585858;
    }
    p
    {
        font-style: italic;
    }
}