
    <!-- Header -->
    <header id="header " class="ex-header">
        <div class="vb vb-1">
            <img src="assets/images/bg/block-1.png" alt="" />
          </div>
          <div class="vb vb-2">
            <img src="assets/images/bg/block-2.png" alt="" />
          </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center"><h1 class="heading heading-red">Privacy Policy</h1></div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Privacy Content -->
    <div class="ex-basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="text-container">
                       
                        <p>
                            This privacy policy includes all the details about the data collected through Vaartaalaap website and how it’s used. The policy explains the details around collection, storage, transformation, usage, sharing and transfer of consumer data.

                        </p>

                            <p>
In case we extend services by introduction of additional services or consumer login feature, the policy will be updated. Please revisit periodically to see the updates. By accessing and using the Sites or otherwise using the Services, you consent to collection, storage, and use of the personal information you provide (including any changes thereto as provided by you) for any of the Services that we provide.

                        </p>
                        
                    </div> <!-- end of text-container-->
                    
                    <div class="text-container">
                        <h3>Data Collection</h3>
                       
                      <p>
                        The company respects consumer privacy. Data on Vaartaalaap website will be collected through consumer website navigation or support query submission or analytical information tracked as part of website usage. We use Google Analytics to track the user behavior on our Sites. The tracking behavior will be anonymous and cannot be associated with any individual personally identifiable information that you may have shared with us.
                      </p>
                    </div> <!-- end of text-container -->

                    <div class="text-container">
                        <h3>Data Usage</h3>
                       <p>
                        The data provided by consumers directly or indirectly will help us to improve the Services and provide you the most user-friendly experience. All required data is service dependent and Vaartaalaap may use the data to, maintain, protect, and improve the Services (including advertising and personalization on the Sites) and for developing new services. We may also use your email address or other personally identifiable information to send commercial or marketing messages about our Services and/or such additional updates and features about third party products and services with an option to subscribe / unsubscribe (where feasible). We may, however, use your email address for non-marketing or administrative purposes (such as notifying you of major changes, for customer service purposes, billing, etc. in future). 
                      
                        
                       </p>
                       <p>
                        Any personally identifiable information provided by you will not be considered as sensitive if it is freely available and / or accessible in the public domain like any comments, messages, blogs, scribbles available on Vaartaalaap’s social platforms like Facebook, twitter etc.
                        
                       </p>
                       <p>
                        Any posted/uploaded/conveyed/communicated by users on the public sections of the website or social channels becomes published content and is not considered personally identifiable information subject to this Policy.
                       </p>
                    </div> <!-- end of text container -->

                    <div class="text-container">
                        <h3>Data Sharing</h3>
                        <p class="mb-5">Vaartaalaap may share your data with any third party without obtaining the prior consent of the user in the following limited circumstances:</p>
                        
                        <ol>
                            <li>
                                <p>
                                    When it is requested or required by law or by any court or governmental agency or authority to disclose, for the purpose of verification of identity, or for the prevention, detection, investigation including but not limited to cyber incidents, or for prosecution and punishment of offences. These disclosures are made in good faith and belief that such a disclosure is reasonably necessary for enforcing these Terms or for complying with the applicable laws and regulations.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Vaartaalaap proposes to share such data to conduct its business and to share such data within its group companies and officers and employees of such group companies for the purpose of processing personal information on its behalf. We also ensure that these recipients of data agree to process such information based on our instructions and in compliance with this Policy and any other appropriate confidentiality and security measures.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Vaartaalaap may present data to our advertisers and third parties - to help them understand our audience and confirm the value of advertising on our site – however it is usually in the form of aggregated statistics on traffic to various pages within our site.
                                </p>
                            </li>
                            <li>
                                <p>
                                    Vaartaalaap may share your data to enforce or protect our rights or any or all of its affiliates, associates, employees, directors or officers or when we have reason to believe that disclosing Data of User(s) is necessary to identify, contact or bring legal action against someone who may be causing interference with our rights or our website, whether intentionally or otherwise, or when anyone else could be harmed by such activities.
                                </p>
                            </li>
                        </ol>
                    </div> <!-- end of text-container -->
                                       
                    <div class="text-container">
                        <h3>Data Security</h3>
                       <p>
                        Vaartaalaap will take appropriate security measures to protect against unauthorized access to or unauthorized alteration, disclosure or destruction of data. Data will be stored on our shared service hosting or cloud service providers. However, as effective as our security measures are, no security system is impenetrable. We cannot guarantee the security of our database, nor can we guarantee that information you supply will not be intercepted while being transmitted to us over the Internet. And, of course, any information you include in a posting to the discussion areas is available to anyone with Internet access.
                        
                       </p>
                       
                    </div> <!-- end of text container -->

                    <div class="text-container">
                        <h3>Updates to Policy</h3>
                       <p>
                        The internet is an ever evolving medium. We may alter our Policy from time to time to incorporate necessary changes in technology, applicable law or any other variant. In any case, we reserve the right to change (at any point of time) the terms of this Policy or our Terms & Conditions. Any changes we make will be effective immediately on notice, which we may give by posting the new policy on the Sites. Your use of the Sites or Services after such notice will be deemed acceptance of such changes. We may also make reasonable efforts to inform you via electronic mail. In any case, you are advised to review this Policy periodically on the Site to ensure that you are aware of the latest version.
                     </p>
                       
                    </div> <!-- end of text container -->
                    <div class="text-container contact">
                        <h3>Contact & Redressal</h3>
                       <p>
                        If you have any questions regarding privacy while using the website, or have questions about our practices, please contact us via email at support@vaartaalaap.com
                     </p>
                       
                    </div> <!-- end of text container -->
                    <a class="btn-outline-reg back" routerLink="/home">BACK</a>
                </div> <!-- end of col-->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
        <div class="vb vb-3">
            <img src="assets/images/bg/block-3.png" alt="" />
          </div>
          <div class="vb vb-4">
            <img src="assets/images/bg/block-2.png" alt="" />
          </div>
    </div> <!-- end of ex-basic-2 -->
    <!-- end of privacy content -->
